<center>
  <div class="exoDiv">
    <p class="exoText">On the planet Earth, life is ubiquitous.  It's been found in nearly every environment humans have studied, from Antarctic ice sheets to the scalding water of geysers, deep underground to floating in the stratosphere.
    These types of environments seem to be spread across the exoplanets as well: planets that orbit stars other than our Sun.  The Kepler spacecraft was launched to look for these planets by staring at a small patch of sky containing roughly 100,000 stars.</p>
    <br>
    <p class="exoText">To date the telescope has found over 3,000 confirmed exoplanets.  There are several thousand more candidates waiting to be verified or discounted.</p>

    <button class="btn btn-warning cursorButton" ui-sref="allExo"><span>Click Here To View Some</span></button>
  </div>
</center>
