<div class="exoButton">
    <div class="img-responsive homeApod">
      <center><p class="introText"><br>Space is large.<br><br>Unimaginably, mind-bogglingly huge.<br><br>The aim of this website is to give a sense of the beauty of the universe,</br>as well as make it a bit more accessible.<br><br>Here you can find amazing images of the cosmos as well as information about the planets outside our solar system that may one day be the home of the future of our race.<br><br></p></center>
    </div>
    <p>Credit: Leonardo Julio / Astronomia Pampeana
</div>
